/* Custom variables */
:root {
    --secondary-bg-color: #dba24a;
    --yellow: #e1d800;
    --primary-bg-color: #ff5639;
    --red: #ce0000;
    --text-color: #fafafa;
}

/* Reset Default Values */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

/* Header Style*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 9%;
    position: fixed;
    width: 100%;
    background-color: var(--primary-bg-color);
    z-index: 1;
}

.navbar {
    display: block;
}

.navbar a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 18px;
    color: var(--orange);
    font-weight: 700;
    transition: all 500ms;
}

.navbar a:hover {
    color: var(--red);
}

/* Main Body */
main {
    padding-top: 70px;
}

/* All Section Style */
section {
    height: 500px;
    padding: 20px 10%;
}

/* Hero Section Style */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.hero-image {
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 350px;
    border: none;
    border-radius: 15px;
}

.hero .welcome-text {
    font-size: 1.5rem;
    font-style: italic;
}

.hero .title {
    font-size: 4rem;
}

.cta-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    margin: 10px 0;
    font-weight: 600;
    background-color: #fafafa;
    transition: all 500ms;
    color: var(--primary-bg-color);
}

.cta-btn:hover {
    background-color: var(--secondary-bg-color);
    color: aliceblue;
    background-color: var(--red);
}

/* Products Section */
.products {
    background-color: var(--secondary-bg-color);
    height: auto;
}
.section-title {
    font-size: 2rem;
    text-align: center;
}

.pizza {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizza-image {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.pepperoni {
    background: url("../images/pepperoni-150x150.jpg");
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mushroom {
    background: url("../images/Sweet-Onion-Mushroom-Gorgonzola-Pizza-150x150.jpg");
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sausage {
    background: url("../images/SausagePizza-150x150.jpg");
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    width: 60%;
    max-width: 500px;
    text-align: justify;
    font-size: 1rem;
}

.pizza_title {
    font-size: 1.5rem;
}

/* Contact Section */
.contact-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    font-size: 1.5rem;
    width: 100%;
}

.map_holder, .timing, .contact-info {
    margin: 0 20px;
    padding: 20px 0;
}

.timing ul {
    list-style: none;
}